body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: rgba(0, 0, 255, 0.329);
}
input {
  font-size: 1rem;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
button {
  font-size: 1rem;
  font-family: inherit;
  display: block;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: 2px blue;
  cursor: pointer;
}
